<mat-toolbar color="primary">


  <mat-toolbar-row>
    <span> Ng Drag Drop List </span>
    <span class="example-spacer"></span>

    <a mat-button
       aria-label="GitHub Repository"
       target="_blank"
       [href]="GITHUB_LINK">
      <img class="github" alt="github" src="assets/github.svg"/>
    </a>

  </mat-toolbar-row>

</mat-toolbar>

<nav mat-tab-nav-bar color="primary"></nav>

<div class="examples">
  <div class="example colors">
    <mat-grid-list cols="3" rowHeight="1:1">
      <h4> Colors </h4>

      <mat-grid-tile
        *ngFor="let color of colors"
        [(dragDropList)]="colors"
        (dragDropListChange)="toast($event)"
        [style.background]="rgbTOrgba(color, 0.1)"
        duration="200"
        [trigger]="trigger._elementRef.nativeElement">
        <div class="header">

          <button mat-raised-button #trigger>
            <i class="fa fa-arrows" [style.color]="color"></i>
          </button>

        </div>

        <span [style.color]="color"> {{color}} </span>


      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div class="example heroes">

    <h4> Heroes </h4>

    <div class="list">
      <mat-card *ngFor="let hero of heroes" [(dragDropList)]="heroes">
        <img mat-card-image [src]="hero">
      </mat-card>
    </div>
  </div>
</div>
